/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store

.docker/logs
!/storage/oauth-private.key
!/storage/oauth-public.key
.docker/logstash/pipeline/logstash.conf
.docker/logstash/since_db
